/* RESET/GENERAL */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
p{
    margin: 1.875rem 0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none; 
}
/* FONT */
main{
    font-size: .82em;
    line-height:.7cm;
    padding-top: 12.5rem
}

h2{
    font-size: 1.5rem;
    font-weight: 500;
}
h3{
    font-size: 1.125rem;
}

/* HEADER */
header{
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    padding:  0 1.25rem;
    border-bottom: .0625rem solid gray;
}
.top{
    padding-top: 1.125rem;
    display: flex;
    justify-content: space-between;
}

.top .left img{
    margin-right: .125rem;
    vertical-align:text-bottom;
}

.right i{
    font-size: 1.25rem;
    color: gray;
}

.user_icon{
    display: inline-block;
    margin-left: .625rem;
    width: 1.875rem;
    height: 1.875rem;
    border-radius: 100%;
    overflow: hidden;
    vertical-align: middle;
}
.user_icon img{
    width: 100%;
}


header a{
    font-size: 1.3em;
    color: gray;
}

header nav ul{
    /* border: .0625rem solid red; */
    margin-top: .625rem;
    display: flex;
}

nav ul li{
    margin-right:3.125rem;
    padding-bottom: .3125rem;
}

nav a{
    font-size: .9em;
}
nav ul li:last-child{
    border-bottom: .1875rem solid blue;
}

nav ul li:last-child a{
    color: blue;
}

nav ul li:hover{
    border-bottom: .1875rem solid blue;
}

/* HEADER */

/* MAIN */
.container{
    max-width: 62.5rem;
    margin: auto;
    padding: .625rem;

}
.question{
    margin-bottom: 5rem;
}
    
.list_nested,
ol:first-child {
    margin-left: 1em;
    /* margin-block-start: 1em; */
    /* margin-inline-end: 1em; */
}
.list_nested li{
    padding: .9375rem 0 0 .9375rem;
}
.list_nested > li:first-child{
    padding-top: 0;
}
ol:first-child{
    list-style: lower-alpha;
}

/* FOOTER */
footer .container{
    display: flex;
    justify-content: space-between;
}
footer select{
    padding: 0 3.75rem;
}
footer{
    background-color: #dfdfdf;
    padding: .3125rem;
}
footer ul li{
    display: inline-block;
    margin-right: .625rem;
}
footer a{
    font-size: .7em;
    font-weight: 300;
    color: gray;
}









